body,
ul {
  margin: 0px;
  padding: 0px;
}
body{
    background-color: #0971bb;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
    border-bottom: 3px solid #3d107b;
}

#logo{
border: 0;
margin-left: 10%;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0360a2;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}
.pagina-inicial{
    display: flex;
text-align: center;
justify-content: center;
flex-direction: column;
}
.pagina-inicial h1{
    color: white;
}
.char img{
    width: 100px;
}
.comunidade{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.materias{
  display: flex;
  width: 100%;
}
.ciencias-humanas{
  width: 20%;
  
}
.ciencias-humanas h1{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.ciencias-humanas a{
  color: gray;
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 20px;
}
.ciencias-da-natureza{
  width: 20%;
  
}
.ciencias-da-natureza h1{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.ciencias-da-natureza a{
  color: gray;
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 20px;
}
.linguagens{
  width: 20%;
  
}
.linguagens h1{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.linguagens a{
  color: gray;
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 20px;
}
.matematica{
  width: 20%;
  
}
.matematica h1{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.matematica a{
  color: gray;
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 20px;
}
.redacao{
  width: 20%;
  
}
.redacao h1{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.redacao a{
  color: gray;
  display: flex;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 20px;
}
.rodape{
  display: flex;
  color: white;
  background-color:#0360a2;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  gap: 20px;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}
.rodape img{
  width: 50px;

}
.pagina-inicial-geografia a{
  margin-left: 20px;
}
.titulo-rosa-dos-ventos h1{
  color: black;
  font-size: 24px;
  text-align: center;
}
.img-rosa-dos-ventos{
  text-align: center;
}
.pontos{
  display: flex;width: 100%;gap: 10%;justify-content: center;
  min-height: 500px;
}
.pontos-cardeais{
  width: 33,3%;
  padding-bottom: 20px;
  text-align: center;
}
.pontos-colaterais{
  width: 33,3%;
  padding-bottom: 20px;
  text-align: center;
}
.pontos-cardeais3{
  width: 33,3%;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #0971bb;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .rodape h1{
      font-size: 14px;
  }
  .rodape img{
    height: 46px ;
    padding-top: 5px;
} 
#logo{
    border: 0;
    margin-left: 3%;
    }
.pagina-inicial h1{
    font-size: 26px;
}
.comunidade{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.comunidade img{
    width: 90%;
}
.charr{display: none;}

.materias{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ciencias-humanas{
  width: 100%;
}
.ciencias-da-natureza{
  width: 100%;
}
.ciencias-humanas{
  width: 100%;
}
.linguagens{
  width: 100%;
}
.matematica{
  width: 100%;
}
.redacao{
  width: 100%;
}
}/*media*/

.prossigua-quests a{color: red}
.prossigua-quests{margin-bottom: 100px;text-align: right;margin-right: 100px;}
@media screen and (max-width: 768px) {
  .prossigua-quests{text-align: center;margin: 0 auto;}
  .pontos{font-size: 13px;}
}
@media screen and (max-width: 600px) {
  .pontos{font-size: 11px;}
  .img-rosa-dos-ventos img{width: 80%;}
}
@media screen and (max-width: 450px) {
  .pontos{font-size: 9px;}
  .img-rosa-dos-ventos img{width: 80%;}
}