
header{
    background-color: #0360a2;
    display: flex;
    justify-content: space-between;
}
nav{
    text-align: right;
    margin-right: 35px;
}
header a:hover{
    padding-bottom:5px ;
    border-bottom: 3px solid #3d107b;
}
.footer{
    background-color:#0360a2;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 12px 0;
}
footer a:hover{
    border-bottom: 3px solid #3d107b;
}
body{background-color: #0971bb;}

/*Conteúdo da página principal*/
.conteudo{
    background-color:#0971bb ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    }
.pagina1{
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}
.titulo h1{
    text-align: center;
}

/*Conteúdo da página de matérias*/

.container-materias{
    background-color:#0971bb ;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 500px;
}