
.conteudo{
background-color:#0971bb ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
width: 100%;
height: 550px;
overflow-x: hidden;
}
.pagina1{
    width: 50%;
}
.titulo{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 25%;
}
.subtitulo{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}
.botao{
    color: white;
    font-size: 40px;
    margin-top: 7%;
    margin-left: 32%;
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 50px;
}
.botao:hover{
    cursor: pointer;
    background-color: rgb(115, 0, 255);
}
.ladodireitopagina1{
width: 50%;
}
.char{
    height: 300px;
    margin-top: 15%;
    margin-left: 15%
}
.developer{
    color: white;
    display: inline-flex;
    font-size: 25px;
}
.logo-insta{
    margin-left: 8px;
}
.logo-insta img{
    width: 30px;
}