a{
    text-decoration: none;
    color: white;
}
body{background-color: white;}
.conteudos-geografia{
    display: flex;
    background-color: white;
    text-align: center;
}
.conteudos-geografia img{
    max-width: 600px;
}
.rosa-nautica h1{
    margin-top: 20px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 20px;
}
.texto-rosa-nautica-esquerdo h1{
    font-size:22px;
    margin-top: 58px;
    margin-bottom: 3px;
    font-weight: bold;
}
.texto-rosa-nautica-direita h1{
    font-size:22px;
    margin-top: 58px;
    font-weight: bold;
    margin-bottom: 3px;
    
}
.texto-rosa-nautica-direita{
    margin-left: 180px;
    margin-top: 3%;
}
.rosa-nautica-mobile{
    background-color: white;
}
.rosa-nautica-mobile h1{
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}
.rosa-nautica-mobile img{
    width: 100%;
    margin-bottom: 3%;
}
.rosa-nautica-texto-mobile{
    background-color: white;
    text-align: center;
}
.rosa-nautica-texto-mobile h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3%;
}
.rosa-nautica-texto-mobile h2{
    margin-bottom: 3px;
}
.rosa-nautica-mobile-footer h1{
    font-size: 20px;
}
.rosa-nautica-mobile-footer img{
    width: 30px;
    margin-top: 10px;
}
.rosa-nautica-mobile-footer{
        background-color:#0360a2;
        width: 100%;   
        text-align: center;      
        vertical-align: middle;
        padding-bottom: 20px;
        margin-top: 20px;
}
.rosa-nautica-mobile-footer a:hover{
    border-bottom: 3px solid #3d107b;
} 