header a{
    display: inline-flex;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-right: 8px;
    border-right: 3px solid #fff;
    padding: 0 20px;
}
.menu-nav a{
    margin-top: 21px;
}
.logo-imagem{
    border: 0;
    margin-left: 70px;
}
header h1{
    display: inline-flex;
    text-decoration: none;
    font-size: 45px;
    color: white;
    margin-left: 15%;
    padding: 20px 20px;
    
}
.developer{
    color: white;
    display: inline-flex;
    font-size: 25px;
}
.logo-insta{
    margin-left: 8px;
}
.logo-insta img{
    width: 30px;
}
.header-mobile{
    background-color:#0360a2;
    width: 100%;
}
.header-mobile img{
    width: 75%;
    margin-top: 5px;
}