@media screen and (max-width: 768px) {
    body{height: 100%;}
    header{text-align: center;padding:10px 0;justify-content: center;}
    header a{display: none;}
/*-------------------------------------------------------------------*/
/*Conteúdo pc OFF no mobile*/
.conteudo{display: none;}
.geografia{display: none;}
.footer{display: none;}
}

@media screen and (min-width: 768px) {
/*Conteúdo mobile OFF no pc*/
.mobile{display: none;}
.rosa-nautica-mobile{display: none;}
.rosa-nautica-mobile-footer{display: none;}
}